<h1><%= blog_posts.title.titleize %></h1>
<%= form_for(:blog_posts, url: "/blog_post/#{params[:id]}", method: :delete) do |f| %>
  <div class="blog-posts">
  <div class="post-content">
    <%= blog_posts.body %>
    </div>
  </div>
  <br>
<p class="delete-btn">
  <%= f.submit "DELETE", data: { confirm: "Are you sure? This cannot be undone." } %>
</p>
<% end %>
<%= form_for(:blog_posts, url: "/blog_post/#{params[:id]}/edit", method: :get) do |f| %>
  <p class="edit-btn">
    <%= f.submit "CHANGE" %>
  </p>
<% end %>
